#nav > li:hover > a{
    background-color: #fff;
    color: #000;
}

#nav .search-icon:hover{
    background-color: #f44336;
}

#nav li:hover .subnav{
    display: block;
}


#nav .subnav li:hover{
    background-color: #ccc;
}


#content .place-img:hover{
    opacity: 0.6;
}

#content .place-btn:hover{
    background-color: #ccc;
    color: #000;
}

#modal .modal-close:hover{
    background-color: #f44336;
}